<div class="container-fluid">
  <div class="card col-md-12">
      <div class="header">
          <h4 class="title">Edit Article</h4>
      </div>
      <div class="content">
          <form  (ngSubmit)="updateArticle(article)" #articleForm="ngForm">

                      <div class="form-group">
                          <label for="name">Label</label>
                          <input type="text" class="form-control border-input" [(ngModel)]="article.intitule" name="name" required>
                      </div>

                      <div class="form-group">
                          <label for="age" >Quantity</label>
                          <input type="number" class="form-control border-input" [(ngModel)]="article.nombre" name="age" required>
                      </div>
                      <div class="form-group" >
                            <label for="owner" >Client</label>
                            <select name="owner" [(ngModel)]="article.client.id" class="form-control border-input">
                                    <option *ngFor="let item of clients" [value]="item.id">
                                    {{item.name}}
                                    </option>
                           </select>
                      </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-info btn-fill btn-wd" [disabled]="!articleForm.form.valid">Update</button>
                </div>
              <div class="clearfix"></div>
          </form>
      </div>
  </div>
</div>

