
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                  <div class=''>
                      <h4 class="title">Book Table</h4>
                      <p class="category">Table structure</p>
                  </div>
                  <div class=''>
                      <a [routerLink]="['/book-create']">
                        <i class='ti-plus'><b>New Entry</b></i>
                    </a>
                  </div>
                </div>
                <div class=" body content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let book of books">
                                <td>{{ book.title }}</td>
                                <td>{{ book.author }}</td>
                                <td><a [routerLink]="['/book-details', book._id]">Show Detail</a></td>
                              </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

