<div class="container-fluid">
  <div class="card col-md-12">
      <div class="header">
          <h4 class="title">Edit Client</h4>
      </div>
      <div class="content">
          <form  (ngSubmit)="updateClient(client)" #clientForm="ngForm">

                      <div class="form-group">
                          <label for="name">Name</label>
                          <input type="text" class="form-control border-input" [(ngModel)]="client.name" name="name" required>
                      </div>

                      <div class="form-group">
                          <label for="age">Age</label>
                          <input type="number" class="form-control border-input" [(ngModel)]="client.age" name="age" required>
                      </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-info btn-fill btn-wd" [disabled]="!clientForm.form.valid">Update</button>
                </div>
              <div class="clearfix"></div>
          </form>
      </div>
  </div>
</div>

