<div class="container">
    <div class="card">
        <div class="header">
            <h4 class="title">Detail Book</h4>
        </div>
        <div class="content">
            <form   #bookForm="ngForm">
                
                        <div class="form-group">
                            <label for="name">ISBN</label>
                            <input type="text" class="form-control border-input" [(ngModel)]="book.isbn" name="isbn" disabled>
                        </div>
                   
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control border-input" [(ngModel)]="book.title" name="title" disabled>
                        </div>
                    
                        <div class="form-group">
                            <label for="name">Author</label>
                            <input type="text" class="form-control border-input" [(ngModel)]="book.author" name="author" disabled>
                        </div>
                   
                        <div class="form-group">
                            <label for="name">Published Year</label>
                            <input type="number" class="form-control border-input" [(ngModel)]="book.published_year" name="published_year" disabled>
                        </div>
                    
                        <div class="form-group">
                            <label for="name">Publisher</label>
                            <input type="text" class="form-control border-input" [(ngModel)]="book.publisher" name="publisher" disabled>
                        </div>
                   
                <div class="form-group">
                    <button class="btn btn-info  btn-fill btn-wd" type="button" (click)="goBack()">Go Back</button>
                    <a [routerLink]="['/book-edit', book._id]" class="btn btn-success btn-fill btn-wd ">EDIT</a>
                    <button class="btn btn-danger btn-fill btn-wd " type="button" (click)="deleteBook(book._id)">DELETE</button>
                  </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>



