
<div class="container-fluid">
  <div class="card col-md-12">
      <div class="header">
          <h4 class="title">Create Article</h4>
      </div>
      <div class="content">
          <form  (ngSubmit)="saveArticle()" #articleForm="ngForm">

                      <div class="form-group">
                          <label for="first">Label</label>
                          <input type="text" class="form-control border-input" [(ngModel)]="article.intitule" name="first" required>
                      </div>
                      <div class="form-group">
                          <label  for="second">Quantity</label>
                          <input type="number" class="form-control border-input" [(ngModel)]="article.nombre" name="second" required>
                      </div>
                      <div class="form-group">
                        <label class="form-control-label"  for="field_client">Client</label>
                        <select class="form-control" id="field_client" name="client" [(ngModel)]="article.client" >
                            <option [ngValue]="null"></option>
                            <option [ngValue]="clientOption" *ngFor="let clientOption of clients">{{clientOption.name}}</option>
                        </select>
                      </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-info btn-fill btn-wd" [disabled]="!articleForm.form.valid">Create</button>
                </div>
              <div class="clearfix"></div>
          </form>

      </div>
  </div>
</div>

